
<ul class="list-unstyled">
  <% dish_menus.each do |c| %>
    <li>
      <% if c.dish.downvoted_by?(current_user)%>
        <%= link_to '<i class="fa fa-thumbs-down"></i> '.html_safe, dish_downvote_path(c.dish), class: 'btn-downvote voted' %>
      <% else %>
        <%= link_to '<i class="fa fa-thumbs-down"></i> '.html_safe, dish_downvote_path(c.dish), class: 'btn-downvote' %>
      <% end %>
      <var class="downvote-count"><%= c.dish.downvotes %></var> / 
      <var class="upvote-count"><%= c.dish.upvotes %></var>
      <% if c.dish.upvoted_by?(current_user) %>
        <%= link_to '<i class="fa fa-thumbs-up voted"></i> '.html_safe, dish_upvote_path(c.dish), class: 'btn-upvote voted' %>
      <% else %>
        <%= link_to '<i class="fa fa-thumbs-up"></i> '.html_safe, dish_upvote_path(c.dish), class: 'btn-upvote' %>
      <% end %>
      <%= c.dish.name %>
    </li>
  <% end %>
</ul>
