
<ul class="list-unstyled">
  <% dish_menus.includes(:dish).each do |c| %>
    <li>
      <%= link_to '<i class="fa fa-lg fa-thumbs-up"></i> '.html_safe, dish_upvote_path(c.dish), class: 'btn-upvote' %>
      <var class="upvote-count"><%= c.dish.upvotes %></var> /
      <var class="downvote-count"><%= c.dish.downvotes %></var>
      <%= link_to '<i class="fa fa-lg fa-thumbs-down"></i> '.html_safe, dish_downvote_path(c.dish), class: 'btn-downvote' %>
      <%= c.dish.name %>
    </li>
  <% end %>
</ul>
