<% content_for :main do %>
  <h2>Menús para esta semana</h2>
  <% @cafeteria.this_weeks_menus.each do |m| %>
    <div class="media menu-listing">
      <div class="hidden-xs text-center media-left media-middle">
        <div style="padding: 0.5rem; margin: 0 0.5rem;">
          <b style="font-size: 6rem; line-height: 1"><%= m.served_at.day %></b>
        </div>
      </div>
      <div class="media-body">
        <i class="fa fa-calendar"></i> <%= l m.served_at, format: :menu %> (<%= m.meal %>)
        <%= link_to 'editar', edit_cafeteria_menu_path(@cafeteria, m) if current_admin %>
        <br>
        <div class="dish-detail">
          <b>de primero:</b>
          <%= render 'menu_detail', dish_menus: m.dish_menus.first_courses %>

          <b>de segundo:</b>
          <%= render 'menu_detail', dish_menus: m.dish_menus.second_courses %>

          <b>de postre:</b>
          <%= render 'menu_detail', dish_menus: m.dish_menus.desserts %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :sidebar do %>
  <h2><%= @cafeteria.name %></h2>
  <img style="margin-bottom: 1rem;" src="<%= @cafeteria.image_url %>" class="img-thumbnail">
  <% unless @cafeteria.needs_mentor %>
    <p class="alert alert-warning">Esta cafetería no tiene a nadie que nos mande los menús según se publican. ¡Ese podrías ser tú! <%= link_to 'Escríbenos', 'mailto:eliashernandis@gmail.com' %> con una foto del menú semanal y lo añadiremos.</p>
  <% end %>
  <p>
    <b><i class="fa fa-clock-o"></i> <%= @cafeteria.hours %></b>
    <%= link_to 'editar', edit_cafeteria_path(@cafeteria) if current_admin %>
    <address><%= @cafeteria.location %><br><abbr title="Teléfono">TLF:</abbr> <%= @cafeteria.phone %></address>
  </p>
  <p class="text-muted">¿Ves algún problema? <%= link_to 'Ayúdanos', 'mailto:eliashernandis@gmail.com' %></p>
<% end %>
