<p id="notice"><%= notice %></p>

<p>
  <strong>Cafeteria:</strong>
  <%= link_to @menu.cafeteria.name, @menu.cafeteria %>
</p>

<p>
  <strong>Fecha: </strong>
  <%= @menu.served_at %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @menu.meal %>
</p>

<%= link_to 'Editar', edit_cafeteria_menu_path(@menu.cafeteria, @menu) %> |
<%= link_to 'Volver', cafeteria_menus_path(@menu.cafeteria) %>
