<% content_for :main do %>

<div class="panel panel-default">
  <div class="panel-heading">Cafetería</div>
  <div class="panel-body">
    <p>
      <strong>Nombre:</strong>
      <%= @cafeteria.name %>
    </p>

    <p>
      <strong>Precio del menú:</strong>
      <%= @cafeteria.menu_price %>
    </p>

    <p>
      <strong>Ubicación:</strong>
      <%= @cafeteria.location %>
    </p>

    <p>
      <strong>Horario:</strong>
      <%= @cafeteria.hours %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @cafeteria.phone %>
    </p>

    <p>
      <strong>Contribuyente:</strong>
      <% if @cafeteria.contributor_name %>
        <%= @cafeteria.contributor_name %> (<%= l @cafeteria.last_contribution_date %>)
      <% end %>
    </p>
  </div>
</div>

<% end %>

<% content_for :sidebar do %>
  <div class="list-group">
    <%= link_to '<i class="fa fa-arrow-left"></i> Volver'.html_safe, cafeterias_path, class: 'list-group-item' %>
    <%= link_to '<i class="fa fa-pencil"></i> Editar'.html_safe, edit_cafeteria_path(@cafeteria), class: 'list-group-item' %>
    <%= link_to '<i class="fa fa-eye"></i> Ver'.html_safe, public_cafeteria_path(slug: @cafeteria.slug), class: 'list-group-item' %>
    <%= link_to '<i class="fa fa-trash"></i> Eliminar'.html_safe, @cafeteria, method: :delete, class: 'list-group-item list-group-item-danger', data: { confirm: 'Estás seguro?' } %>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Próximos menús
    <%= link_to '<i class="fa fa-plus"></i> Añadir menú'.html_safe, new_cafeteria_menu_path(@cafeteria), class: 'btn btn-primary btn-xs pull-right' %>
  </div>
  <%= render '/menus/list', menus: @cafeteria.menus %>
</div>

